USE [master]
GO
/****** Object:  Database [CommitmentsProgramme]    Script Date: 25/06/2026 02:36:44 م ******/
CREATE DATABASE [CommitmentsProgramme]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CommitmentsProgramme', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\CommitmentsProgramme.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CommitmentsProgramme_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\CommitmentsProgramme_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CommitmentsProgramme].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CommitmentsProgramme]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 25/06/2026 02:36:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 25/06/2026 02:36:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 25/06/2026 02:36:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Discriminator] [nvarchar](21) NOT NULL,
	[DisplayName] [nvarchar](150) NULL,
	[IsDefault] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 25/06/2026 02:36:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 25/06/2026 02:36:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 25/06/2026 02:36:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 25/06/2026 02:36:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](300) NOT NULL,
	[IsDisabled] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Bio] [nvarchar](max) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 25/06/2026 02:36:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendances]    Script Date: 25/06/2026 02:36:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendances](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Attendances] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 25/06/2026 02:36:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Branches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommitmentBranches]    Script Date: 25/06/2026 02:36:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommitmentBranches](
	[CommitmentId] [int] NOT NULL,
	[BranchId] [int] NOT NULL,
 CONSTRAINT [PK_CommitmentBranches] PRIMARY KEY CLUSTERED 
(
	[CommitmentId] ASC,
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Commitments]    Script Date: 25/06/2026 02:36:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commitments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[Time] [time](7) NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CommitmentTypeId] [int] NOT NULL,
	[PriorityId] [int] NOT NULL,
	[DailyPlanId] [int] NOT NULL,
	[PlaceId] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Commitments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommitmentsAttendances]    Script Date: 25/06/2026 02:36:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommitmentsAttendances](
	[CommitmentId] [int] NOT NULL,
	[AttendanceId] [int] NOT NULL,
 CONSTRAINT [PK_CommitmentsAttendances] PRIMARY KEY CLUSTERED 
(
	[CommitmentId] ASC,
	[AttendanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommitmentType]    Script Date: 25/06/2026 02:36:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommitmentType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_CommitmentType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyPlans]    Script Date: 25/06/2026 02:36:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyPlans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlanDate] [date] NOT NULL,
	[SeniorOfficerId] [int] NOT NULL,
	[DutyOfficerId] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_DailyPlans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Officers]    Script Date: 25/06/2026 02:36:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Officers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[RankId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Officers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Places]    Script Date: 25/06/2026 02:36:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Places](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Places] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Priorities]    Script Date: 25/06/2026 02:36:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Priorities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CssClass] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Priorities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ranks]    Script Date: 25/06/2026 02:36:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ranks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Ranks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260624111510_startup', N'9.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260624122006_NullableCreatedBy', N'9.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260624183803_FixCommitmentCascadeDelete', N'9.0.9')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Discriminator], [DisplayName], [IsDefault], [IsDeleted], [CreatedAt], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'01979187-c392-77be-89d1-ffe5c2623fae', N'ApplicationRole', N'مدير النظام', 0, 0, CAST(N'2026-12-10T00:00:00.0000000' AS DateTime2), N'Admin', N'ADMIN', N'55066d55-7469-4d39-b877-3595c3c8a800')
INSERT [dbo].[AspNetRoles] ([Id], [Discriminator], [DisplayName], [IsDefault], [IsDeleted], [CreatedAt], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'01979187-c392-77be-89d1-ffe7d2df25d4', N'ApplicationRole', N'مستخدم', 1, 0, CAST(N'2026-12-10T00:00:00.0000000' AS DateTime2), N'Member', N'MEMBER', N'006b0a01-19c4-457e-a2de-fe849884b781')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'01978f6e-267c-7c96-b179-d2e08d73f69b', N'01979187-c392-77be-89d1-ffe5c2623fae')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'8f6b2a34-0b19-4b27-91d0-ec4f74f1a29c', N'01979187-c392-77be-89d1-ffe7d2df25d4')
GO
SET IDENTITY_INSERT [dbo].[Attendances] ON 

INSERT [dbo].[Attendances] ([Id], [Title], [IsDeleted], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (1, N'مدير المنطقة المركزية', 0, NULL, NULL, CAST(N'2026-06-24T15:33:52.9166667' AS DateTime2), NULL)
INSERT [dbo].[Attendances] ([Id], [Title], [IsDeleted], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (2, N'مدير المنطقة الشمالية', 0, NULL, NULL, CAST(N'2026-06-24T15:33:52.9166667' AS DateTime2), NULL)
INSERT [dbo].[Attendances] ([Id], [Title], [IsDeleted], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (3, N'مدير المنطقة الجنوبية ', 0, N'admin', N'gso admin', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2026-06-25T02:29:51.0172325' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Attendances] OFF
GO
SET IDENTITY_INSERT [dbo].[Branches] ON 

INSERT [dbo].[Branches] ([Id], [Name], [IsActive], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (5, N'فرع العمليات', 1, NULL, NULL, CAST(N'2026-06-24T15:23:40.2200000' AS DateTime2), NULL)
INSERT [dbo].[Branches] ([Id], [Name], [IsActive], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (6, N'فرع شؤون الأفراد', 1, NULL, NULL, CAST(N'2026-06-24T15:23:40.2200000' AS DateTime2), NULL)
INSERT [dbo].[Branches] ([Id], [Name], [IsActive], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (7, N'فرع الإمداد والتموين', 1, NULL, NULL, CAST(N'2026-06-24T15:23:40.2200000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Branches] OFF
GO
INSERT [dbo].[CommitmentBranches] ([CommitmentId], [BranchId]) VALUES (7, 6)
INSERT [dbo].[CommitmentBranches] ([CommitmentId], [BranchId]) VALUES (7, 7)
INSERT [dbo].[CommitmentBranches] ([CommitmentId], [BranchId]) VALUES (8, 6)
GO
SET IDENTITY_INSERT [dbo].[Commitments] ON 

INSERT [dbo].[Commitments] ([Id], [Title], [Time], [Notes], [CommitmentTypeId], [PriorityId], [DailyPlanId], [PlaceId], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (7, N'عنوان 2', CAST(N'21:29:00' AS Time), N'ملاحظات 2', 3, 5, 2, 1, N'admin', NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Commitments] ([Id], [Title], [Time], [Notes], [CommitmentTypeId], [PriorityId], [DailyPlanId], [PlaceId], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (8, N'عنوان 3', CAST(N'13:26:00' AS Time), N'ملاحظات 3', 4, 4, 2, 1, N'admin', NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Commitments] ([Id], [Title], [Time], [Notes], [CommitmentTypeId], [PriorityId], [DailyPlanId], [PlaceId], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (32, N'تاتل  ااااا', CAST(N'07:43:00' AS Time), N'ىىىىىىىىىىىىههههه', 3, 3, 4, 4, N'admin', NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Commitments] OFF
GO
INSERT [dbo].[CommitmentsAttendances] ([CommitmentId], [AttendanceId]) VALUES (7, 2)
INSERT [dbo].[CommitmentsAttendances] ([CommitmentId], [AttendanceId]) VALUES (7, 3)
INSERT [dbo].[CommitmentsAttendances] ([CommitmentId], [AttendanceId]) VALUES (8, 2)
GO
SET IDENTITY_INSERT [dbo].[CommitmentType] ON 

INSERT [dbo].[CommitmentType] ([Id], [Name], [DisplayOrder], [IsActive], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (3, N'داخلي', 1, 1, N'admin', N'admin', CAST(N'2026-06-24T14:35:57.9100000' AS DateTime2), CAST(N'2026-06-24T14:35:57.9100000' AS DateTime2))
INSERT [dbo].[CommitmentType] ([Id], [Name], [DisplayOrder], [IsActive], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (4, N'خارجي ', 0, 1, N'admin', N'gso admin', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2026-06-25T03:14:51.3390630' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CommitmentType] OFF
GO
SET IDENTITY_INSERT [dbo].[DailyPlans] ON 

INSERT [dbo].[DailyPlans] ([Id], [PlanDate], [SeniorOfficerId], [DutyOfficerId], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (1, CAST(N'2026-06-24' AS Date), 5, 41, N'8f6b2a34-0b19-4b27-91d0-ec4f74f1a29c', N'01978f6e-267c-7c96-b179-d2e08d73f69b', CAST(N'2026-06-24T18:25:08.2944099' AS DateTime2), CAST(N'2026-06-25T10:36:09.9469141' AS DateTime2))
INSERT [dbo].[DailyPlans] ([Id], [PlanDate], [SeniorOfficerId], [DutyOfficerId], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (2, CAST(N'2026-06-24' AS Date), 2, 37, N'8f6b2a34-0b19-4b27-91d0-ec4f74f1a29c', NULL, CAST(N'2026-06-24T18:27:16.7788243' AS DateTime2), NULL)
INSERT [dbo].[DailyPlans] ([Id], [PlanDate], [SeniorOfficerId], [DutyOfficerId], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (4, CAST(N'2026-06-16' AS Date), 7, 41, N'01978f6e-267c-7c96-b179-d2e08d73f69b', NULL, CAST(N'2026-06-25T04:40:37.0220263' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[DailyPlans] OFF
GO
SET IDENTITY_INSERT [dbo].[Officers] ON 

INSERT [dbo].[Officers] ([Id], [FullName], [RankId], [IsActive], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate], [PhoneNumber]) VALUES (2, N'أحمد محمد عبد الله حسن', 1, 1, NULL, NULL, CAST(N'2026-06-24T15:21:04.1866667' AS DateTime2), NULL, N'01012395947')
INSERT [dbo].[Officers] ([Id], [FullName], [RankId], [IsActive], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate], [PhoneNumber]) VALUES (3, N'خالد إبراهيم محمود علي', 1, 1, NULL, NULL, CAST(N'2026-06-24T15:21:04.1866667' AS DateTime2), NULL, N'01099189977')
INSERT [dbo].[Officers] ([Id], [FullName], [RankId], [IsActive], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate], [PhoneNumber]) VALUES (4, N'محمود أحمد عبد الرحمن يوسف', 2, 1, NULL, NULL, CAST(N'2026-06-24T15:21:04.1866667' AS DateTime2), NULL, N'01007611571')
SET IDENTITY_INSERT [dbo].[Officers] OFF
GO
SET IDENTITY_INSERT [dbo].[Places] ON 

INSERT [dbo].[Places] ([Id], [Name], [IsDeleted], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (1, N'قاعة 6 أكتوبر', 0, N'System', NULL, CAST(N'2026-06-24T15:53:27.1666667' AS DateTime2), NULL)
INSERT [dbo].[Places] ([Id], [Name], [IsDeleted], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (2, N'المنطقة الشمالية', 0, N'System', NULL, CAST(N'2026-06-24T15:53:27.1666667' AS DateTime2), NULL)
INSERT [dbo].[Places] ([Id], [Name], [IsDeleted], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (3, N'المنطقة الجنوبية 66', 0, N'admin', N'gso admin', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2026-06-25T03:25:06.2585732' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Places] OFF
GO
SET IDENTITY_INSERT [dbo].[Priorities] ON 

INSERT [dbo].[Priorities] ([Id], [Name], [CssClass], [IsActive], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (2, N'هام جدًا', N'text-danger', 1, N'admin', N'admin', CAST(N'2026-06-24T14:27:16.0200000' AS DateTime2), CAST(N'2026-06-24T14:27:16.0200000' AS DateTime2))
INSERT [dbo].[Priorities] ([Id], [Name], [CssClass], [IsActive], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (3, N'هام', N'text-warning', 1, N'admin', N'admin', CAST(N'2026-06-24T14:27:16.0200000' AS DateTime2), CAST(N'2026-06-24T14:27:16.0200000' AS DateTime2))
INSERT [dbo].[Priorities] ([Id], [Name], [CssClass], [IsActive], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (4, N'متوسط ', N'primary', 1, N'admin', N'gso admin', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2026-06-25T03:32:32.1530193' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Priorities] OFF
GO
SET IDENTITY_INSERT [dbo].[Ranks] ON 

INSERT [dbo].[Ranks] ([Id], [Name], [IsActive], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (1, N'لواء', 1, N'admin', N'admin', CAST(N'2026-06-24T14:20:41.2200000' AS DateTime2), CAST(N'2026-06-24T14:20:41.2200000' AS DateTime2))
INSERT [dbo].[Ranks] ([Id], [Name], [IsActive], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (2, N'عميد', 1, N'admin', N'admin', CAST(N'2026-06-24T14:20:41.2200000' AS DateTime2), CAST(N'2026-06-24T14:20:41.2200000' AS DateTime2))
INSERT [dbo].[Ranks] ([Id], [Name], [IsActive], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (3, N'عقيد', 1, N'admin', N'admin', CAST(N'2026-06-24T14:20:41.2200000' AS DateTime2), CAST(N'2026-06-24T14:20:41.2200000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Ranks] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 25/06/2026 02:36:45 م ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 25/06/2026 02:36:46 م ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 25/06/2026 02:36:46 م ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 25/06/2026 02:36:46 م ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 25/06/2026 02:36:46 م ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 25/06/2026 02:36:46 م ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 25/06/2026 02:36:46 م ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CommitmentBranches_BranchId]    Script Date: 25/06/2026 02:36:46 م ******/
CREATE NONCLUSTERED INDEX [IX_CommitmentBranches_BranchId] ON [dbo].[CommitmentBranches]
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CommitmentBranches_CommitmentId_BranchId]    Script Date: 25/06/2026 02:36:46 م ******/
CREATE NONCLUSTERED INDEX [IX_CommitmentBranches_CommitmentId_BranchId] ON [dbo].[CommitmentBranches]
(
	[CommitmentId] ASC,
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Commitments_CommitmentTypeId]    Script Date: 25/06/2026 02:36:46 م ******/
CREATE NONCLUSTERED INDEX [IX_Commitments_CommitmentTypeId] ON [dbo].[Commitments]
(
	[CommitmentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Commitments_DailyPlanId]    Script Date: 25/06/2026 02:36:46 م ******/
CREATE NONCLUSTERED INDEX [IX_Commitments_DailyPlanId] ON [dbo].[Commitments]
(
	[DailyPlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Commitments_PlaceId]    Script Date: 25/06/2026 02:36:46 م ******/
CREATE NONCLUSTERED INDEX [IX_Commitments_PlaceId] ON [dbo].[Commitments]
(
	[PlaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Commitments_PriorityId]    Script Date: 25/06/2026 02:36:46 م ******/
CREATE NONCLUSTERED INDEX [IX_Commitments_PriorityId] ON [dbo].[Commitments]
(
	[PriorityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CommitmentsAttendances_AttendanceId]    Script Date: 25/06/2026 02:36:46 م ******/
CREATE NONCLUSTERED INDEX [IX_CommitmentsAttendances_AttendanceId] ON [dbo].[CommitmentsAttendances]
(
	[AttendanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CommitmentsAttendances_CommitmentId_AttendanceId]    Script Date: 25/06/2026 02:36:46 م ******/
CREATE NONCLUSTERED INDEX [IX_CommitmentsAttendances_CommitmentId_AttendanceId] ON [dbo].[CommitmentsAttendances]
(
	[CommitmentId] ASC,
	[AttendanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DailyPlans_DutyOfficerId]    Script Date: 25/06/2026 02:36:46 م ******/
CREATE NONCLUSTERED INDEX [IX_DailyPlans_DutyOfficerId] ON [dbo].[DailyPlans]
(
	[DutyOfficerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DailyPlans_SeniorOfficerId]    Script Date: 25/06/2026 02:36:46 م ******/
CREATE NONCLUSTERED INDEX [IX_DailyPlans_SeniorOfficerId] ON [dbo].[DailyPlans]
(
	[SeniorOfficerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Officers_RankId]    Script Date: 25/06/2026 02:36:46 م ******/
CREATE NONCLUSTERED INDEX [IX_Officers_RankId] ON [dbo].[Officers]
(
	[RankId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Commitments] ADD  DEFAULT ('00:00:00') FOR [Time]
GO
ALTER TABLE [dbo].[Officers] ADD  DEFAULT (N'') FOR [PhoneNumber]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CommitmentBranches]  WITH CHECK ADD  CONSTRAINT [FK_CommitmentBranches_Branches_BranchId] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[CommitmentBranches] CHECK CONSTRAINT [FK_CommitmentBranches_Branches_BranchId]
GO
ALTER TABLE [dbo].[CommitmentBranches]  WITH CHECK ADD  CONSTRAINT [FK_CommitmentBranches_Commitments_CommitmentId] FOREIGN KEY([CommitmentId])
REFERENCES [dbo].[Commitments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommitmentBranches] CHECK CONSTRAINT [FK_CommitmentBranches_Commitments_CommitmentId]
GO
ALTER TABLE [dbo].[Commitments]  WITH CHECK ADD  CONSTRAINT [FK_Commitments_CommitmentType_CommitmentTypeId] FOREIGN KEY([CommitmentTypeId])
REFERENCES [dbo].[CommitmentType] ([Id])
GO
ALTER TABLE [dbo].[Commitments] CHECK CONSTRAINT [FK_Commitments_CommitmentType_CommitmentTypeId]
GO
ALTER TABLE [dbo].[Commitments]  WITH CHECK ADD  CONSTRAINT [FK_Commitments_DailyPlans_DailyPlanId] FOREIGN KEY([DailyPlanId])
REFERENCES [dbo].[DailyPlans] ([Id])
GO
ALTER TABLE [dbo].[Commitments] CHECK CONSTRAINT [FK_Commitments_DailyPlans_DailyPlanId]
GO
ALTER TABLE [dbo].[Commitments]  WITH CHECK ADD  CONSTRAINT [FK_Commitments_Places_PlaceId] FOREIGN KEY([PlaceId])
REFERENCES [dbo].[Places] ([Id])
GO
ALTER TABLE [dbo].[Commitments] CHECK CONSTRAINT [FK_Commitments_Places_PlaceId]
GO
ALTER TABLE [dbo].[Commitments]  WITH CHECK ADD  CONSTRAINT [FK_Commitments_Priorities_PriorityId] FOREIGN KEY([PriorityId])
REFERENCES [dbo].[Priorities] ([Id])
GO
ALTER TABLE [dbo].[Commitments] CHECK CONSTRAINT [FK_Commitments_Priorities_PriorityId]
GO
ALTER TABLE [dbo].[CommitmentsAttendances]  WITH CHECK ADD  CONSTRAINT [FK_CommitmentsAttendances_Attendances_AttendanceId] FOREIGN KEY([AttendanceId])
REFERENCES [dbo].[Attendances] ([Id])
GO
ALTER TABLE [dbo].[CommitmentsAttendances] CHECK CONSTRAINT [FK_CommitmentsAttendances_Attendances_AttendanceId]
GO
ALTER TABLE [dbo].[CommitmentsAttendances]  WITH CHECK ADD  CONSTRAINT [FK_CommitmentsAttendances_Commitments_CommitmentId] FOREIGN KEY([CommitmentId])
REFERENCES [dbo].[Commitments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommitmentsAttendances] CHECK CONSTRAINT [FK_CommitmentsAttendances_Commitments_CommitmentId]
GO
ALTER TABLE [dbo].[DailyPlans]  WITH CHECK ADD  CONSTRAINT [FK_DailyPlans_Officers_DutyOfficerId] FOREIGN KEY([DutyOfficerId])
REFERENCES [dbo].[Officers] ([Id])
GO
ALTER TABLE [dbo].[DailyPlans] CHECK CONSTRAINT [FK_DailyPlans_Officers_DutyOfficerId]
GO
ALTER TABLE [dbo].[DailyPlans]  WITH CHECK ADD  CONSTRAINT [FK_DailyPlans_Officers_SeniorOfficerId] FOREIGN KEY([SeniorOfficerId])
REFERENCES [dbo].[Officers] ([Id])
GO
ALTER TABLE [dbo].[DailyPlans] CHECK CONSTRAINT [FK_DailyPlans_Officers_SeniorOfficerId]
GO
ALTER TABLE [dbo].[Officers]  WITH CHECK ADD  CONSTRAINT [FK_Officers_Ranks_RankId] FOREIGN KEY([RankId])
REFERENCES [dbo].[Ranks] ([Id])
GO
ALTER TABLE [dbo].[Officers] CHECK CONSTRAINT [FK_Officers_Ranks_RankId]
GO
USE [master]
GO
