@model DailyPlanVm

@{
    ViewData["Title"] = "إنشاء خطة يومية";
    var index = Model.Commitments?.Count ?? 0;
}

<div class="container py-4">

    <h3 class="mb-4">إنشاء خطة يومية</h3>

    <form asp-action="Create" method="post" id="dailyPlanForm">

        <!-- ================= HEADER ================= -->
        <input type="hidden" asp-for="Id" />
        <div class="row mb-3">

            <div class="col-md-4">
                <label>التاريخ</label>
                <input asp-for="PlanDate" type="date" class="form-control" />
            </div>

            <div class="col-md-4">
                <label>ظابط عظيم</label>
                <select asp-for="SeniorOfficerId"
                        asp-items="Model.SeniorOfficers"
                        class="form-control"></select>
            </div>

            <div class="col-md-4">
                <label>ظابط نوبتجي</label>
                <select asp-for="DutyOfficerId"
                        asp-items="Model.DutyOfficers"
                        class="form-control"></select>
            </div>

        </div>

        <hr />

        <h5>الالتزامات</h5>

        <!-- ================= COMMITMENTS ================= -->

        <div class="d-flex justify-content-between align-items-center mb-3">


            <button type="button"
                    id="btnAddCommitment"
                    class="btn btn-success">

                <i class="fa fa-plus"></i>
                إضافة التزام
            </button>

        </div>

        <table class="table table-bordered table-striped align-middle">

            <thead class="table-light">

                <tr>
                    <th>الوقت</th>
                    <th>العنوان</th>
                    <th>النوع</th>
                    <th>المكان</th>
                    <th width="150">إجراءات</th>
                </tr>

            </thead>

           
            <tbody id="commitmentsTableBody">
            </tbody>

        </table>

        <div id="hiddenCommitments"></div>

     

        <hr />

        <button type="submit" class="btn btn-primary">
            حفظ
        </button>

    </form>

</div>

<partial name="_CommitmentModal" model="Model" />

@section Scripts
{
    <partial name="_CommitmentScripts" model="Model" />
}
