
<section class="p-0 section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="error-section text-center py-5">
                    <h1 class="display-3 font-weight-bold text-danger">403</h1>
                    <h2 class="mb-3">Access Denied</h2>
                    <p class="mb-4">
                        You don’t have permission to access this page.
                        If you believe this is a mistake, please contact support or try logging in with the correct account.
                    </p>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-primary  btn-solid">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</section>