

<section class="pwd-page section-b-space">
    <div class="container text-center">
        <h2>Registration successful 🎉</h2>
        <p>Please check your email inbox to confirm your account.</p>
    </div>
</section>
