<footer class="footer">

    <div class="container">

        <div class="text-center">

            <small>

                نظام إدارة الالتزامات اليومية

                |

                <a class="text-decoration-none" href="https://github.com/mohammedabdelaleem/CommitmentsProgramme" target="_blank" title="مصدر المشروع">❤️</a>

            </small>

        </div>

    </div>

</footer>