<!DOCTYPE html>

<html lang="ar" dir="rtl">

<head>

    <meta charset="utf-8" />

    <meta name="viewport"
          content="width=device-width, initial-scale=1" />

    <title>

        @(ViewData["Title"] ?? "نظام الالتزامات اليومية")

    </title>

    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-icons/bootstrap-icons.min.css" rel="stylesheet">


    @* fontawsome *@
    <link rel="stylesheet" href="~/css/externalfiles/fontawesome.all.min.css">

    @* toaster.js :css*@
    <link rel="stylesheet" href="~/css/externalfiles/toastr.min.css">

    @* sweetaleart *@
    <link rel="stylesheet" href="~/css/externalfiles/sweetalert2.css">


    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />

    <partial name="_Styles" />
    @RenderSection("Styles", required: false)
</head>

<body>

    <partial name="_Navbar" />

    <main class="website-body">

        @RenderBody()

    </main>

    <partial name="_Footer" />

    <partial name="_Toaster" />

    <partial name="_Scripts" />
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>