<!DOCTYPE html>

<html lang="ar" dir="rtl">

<head>

    <meta charset="utf-8" />

    <meta name="viewport"
          content="width=device-width, initial-scale=1" />

    <title>@(ViewData["Title"] ?? "نظام الالتزامات اليومية") </title>
    
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-icons/bootstrap-icons.min.css" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="~/Uploads/Website/logo.png">

    @* fontawsome *@
    <link rel="stylesheet" href="~/css/externalfiles/fontawesome.all.min.css">

    @* toastr.js : js*@
    @* <script src="~/js/externalfiles/toastr.min.js"></script> *@
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    @* sweetaleart *@
    <link rel="stylesheet" href="~/css/externalfiles/sweetalert2.css">


    <partial name="_Styles" />
    @RenderSection("Styles", required: false)
</head>

<body>

    <partial name="_Navbar" />

    <main class="website-body">

        @RenderBody()

        <form id="deleteForm">
            @Html.AntiForgeryToken()
        </form>

    </main>

    <partial name="_Footer" />

    <partial name="_Toaster" />

    <partial name="_Scripts" />
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>