@using System.Globalization

@{
    DateTime today = DateTime.Today;

    DateTime firstDayOfCurrentMonth = new DateTime(today.Year, today.Month, 1);

    DateTime firstDayOfPreviousMonth = firstDayOfCurrentMonth.AddMonths(-1);

    string currentMonthName = firstDayOfCurrentMonth.ToString("MMMM", new CultureInfo("ar-EG"));
    string previousMonthName = firstDayOfPreviousMonth.ToString("MMMM", new CultureInfo("ar-EG"));

}
<nav class="navbar navbar-expand-lg website-navbar sticky-top">

    <div class="container">

        <div class="navbar-brand comm-nav-title">
            <i class="fa-solid fa-calendar-check " ></i>  
            نظام الالتزامات اليومية
        </div>

        <button class="navbar-toggler"
                data-bs-toggle="collapse"
                data-bs-target="#navbarMenu">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse"
             id="navbarMenu">

            <ul class="navbar-nav me-auto">

                <li class="nav-item">

                    <a asp-controller="Home"
                       asp-action="Index"
                       class="nav-link">

                        الرئيسية

                    </a>

                </li>

                <li class="nav-item">

                    <a asp-controller="DailyPlan"
                       asp-action="Index"
                       asp-route-date="@DateOnly.FromDateTime(firstDayOfCurrentMonth)"
                       class="nav-link">

                        التزامات شهر @currentMonthName

                    </a>

                </li>

                <li class="nav-item">

                    <a asp-controller="DailyPlan"
                       asp-action="Index"
                       asp-route-date="@DateOnly.FromDateTime(firstDayOfPreviousMonth)"
                       class="nav-link">

                        التزامات شهر @previousMonthName

                    </a>

                </li>



                <li class="nav-item ms-3    ">

                        @if (User.IsInRole(DefaultRoles.Admin))
                        {
                            <a asp-area="Admin"
                               asp-controller="Home"
                               asp-action="Index"
                               class="btn btn-primary">

                                لوحة التحكم

                            </a>
                        }
                        else if(User?.Identity?.IsAuthenticated == false)
                        {
                            <a asp-controller="Auth"
                               asp-action="Login"
                               class="btn btn-outline-primary">

                                تسجيل الدخول

                            </a>
                        }
                        @* todo : signout*@



                </li>



            </ul>

          
            <a class="navbar-brand d-flex align-items-center gap-2" asp-controller="Home" asp-action="Index">

                <img src="~/Uploads/Website/logo.png"
                     alt="Logo"
                     title="الرجوع للصفحة الرئيسية"
                     class="logo-nav">

            </a>
        </div>

    </div>

</nav>