   
<div class="toast toast-error" aria-live="assertive" bis_skin_checked="1" style="display: block;">
    <div class="toast-message" bis_skin_checked="1">هناك خطأ ما</div>
</div>


<div class="toast toast-error" aria-live="assertive" bis_skin_checked="1" style="display: block;">
    <div class="toast-progress" bis_skin_checked="1" style="width: 0%;"></div>
    <button type="button" class="toast-close-button" role="button">×</button>
    <div class="toast-title" bis_skin_checked="1">Deleted</div>
    <div class="toast-message" bis_skin_checked="1">تم حذف نوع الالتزام بنجاح</div>
</div>