<div class="collapse" id="page-layouts">
    <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="Index">المستخدمين</a></li>
        <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="Role" asp-action="Index">الصلاحيات</a></li>
        <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="Attendances" asp-action="Index">الحضور</a></li>
        <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="Branches" asp-action="Index">القطاعات</a></li>
        <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="CommitmentTypes" asp-action="Index">انواع الالتزامات</a></li>
        <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="Places" asp-action="Index">الاماكن</a></li>
        <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="Priorities" asp-action="Index">الاولويات</a></li>
        <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="Ranks" asp-action="Index">الرتب</a></li>
        <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="Officers" asp-action="Index">الضباط</a></li>
    </ul>
</div>
