<div class="collapse" id="page-layouts">
    <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="Index">المستخدمين</a></li>
        <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="Role" asp-action="Index">الصلاحيات</a></li>
        <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="Attendances" asp-action="Index">الحضور</a></li>
    </ul>
</div>